/* HK Grotesk Font */
@font-face {
  font-family: 'HK Grotesk';
  src: url('../assets/fonts/HK_Grotesk/HKGrotesk-Regular.otf');
}

@font-face {
  font-family: 'HK Grotesk';
  font-style: italic;
  src: url('../assets/fonts/HK_Grotesk/HKGrotesk-Italic.otf');
}

@font-face {
  font-family: 'HK Grotesk';
  font-weight: 300;
  src: url('../assets/fonts/HK_Grotesk/HKGrotesk-Light.otf');
}

@font-face {
  font-family: 'HK Grotesk';
  font-weight: 300;
  font-style: italic;
  src: url('../assets/fonts/HK_Grotesk/HKGrotesk-LightItalic.otf');
}

@font-face {
  font-family: 'HK Grotesk';
  font-weight: 500;
  src: url('../assets/fonts/HK_Grotesk/HKGrotesk-Medium.otf');
}

@font-face {
  font-family: 'HK Grotesk';
  font-weight: 500;
  font-style: italic;
  src: url('../assets/fonts/HK_Grotesk/HKGrotesk-MediumItalic.otf');
}

@font-face {
  font-family: 'HK Grotesk';
  font-weight: 600;
  src: url('../assets/fonts/HK_Grotesk/HKGrotesk-SemiBold.otf');
}

@font-face {
  font-family: 'HK Grotesk';
  font-weight: 600;
  font-style: italic;
  src: url('../assets/fonts/HK_Grotesk/HKGrotesk-SemiBoldItalic.otf');
}

@font-face {
  font-family: 'HK Grotesk';
  font-weight: 700;
  font-style: italic;
  src: url('../assets/fonts/HK_Grotesk/HKGrotesk-BoldItalic.otf');
}
